 
    <table class="table-primary" width="100%">
        <thead>
          <tr class="table-primary">
            <th></th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Valuation</th>
            <th scope="col">Share</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
        {{#each port.exchanges}}
        <tr class="table-primary">
            <td>
              <form action="/addcase" method="POST">
              <input type="hidden" name="exchange" value="{{name}}">
            </td>
            <td class="table-primary" width="20%"><h3>{{name}}</h3></td>
            <td class="table-primary" width="20%"></td>
            <td class="table-primary" width="20%"></td>
            <td class="table-primary" width="20%" align="right">{{totalValuation}}</td>
            <td class="table-primary" width="20%" align="right"></td>
        </tr>
          {{#each cases}}
            <tr class="table-primary">
                <td>
                  {{#if isNoCase}} 
                    <button type="submit" class="btn btn-primary" name="button" value="OK">Add</button> 
                  {{/if}}
                </td>
                <td class="table-primary" width="20%"><h5>{{name}}</h5></td>
                <td class="table-primary" width="20%"></td>
                <td class="table-primary" width="20%"></td>
                <td class="table-primary" width="20%" align="right">{{total}}</td>
                <td class="table-primary" width="20%" align="right"></td>
            </tr>
            {{#each coins }}
              <tr class="table-primary">
                  <td> {{#if noCase}}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="coins[]" value="{{name}}"> 
                    </div> {{/if}}                 
                  </td>
                  <td class="table-primary" width="20%">{{name}}</td>
                  <td class="table-primary" width="20%" align="right">{{total}}</td>
                  <td class="table-primary" width="20%" align="right">{{price}}</td>
                  <td class="table-primary" width="20%" align="right">{{fixed}}</td>
                  <td class="table-primary" width="20%" align="right">{{share}}</td>
              </tr>
            {{/each}}
          {{#if isNoCase}} </form> {{/if}}
          {{/each}}
        {{/each}}
        </tbody>
    </table> 