<h2>Account profile: </h2>
<p>User: {{user.username}} </p>
{{#if noExchange}}
    <h3>You have no exchanges connected</h3>  
{{else}}
    <h3>You have connected {{exchangesLength}} exchange(s):</h3>
    {{#each user.exchanges}}
    <p>{{exchange.name}}</p>
    {{/each}}
{{/if}}
<form name="addexchange" action="/profile/addexchange" method="POST">
<div class="mb-3">
    <label for="exchselect" class="form-label">Add exchange:</label>
    <select name="exchselect" class="form-select" aria-label="select exchange">
        <option selected>Choose exchange </option>
        {{#each exchanges}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
    <div class="mb-3">
        <label for="exchkey" class="form-label">API key:</label>
        <input type="text" class="form-control" name="exchkey">
    </div>
    <div class="mb-3">
        <label for="exchsecret" class="form-label">API secret</label>
        <input type="text" class="form-control" name="exchsecret" >
    </div>
    
</div>
<button type="submit" class="btn btn-primary" name="butaddexchange" value="OK">Add</button>


</form>